.V3-cards-kp {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 55px;
    grid-gap: 55px;

}

.V3-card-kp {
    box-shadow:0 0 50px #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.V3-card-img-div-kp {
    padding: 5px 50px;
    margin-bottom: 20px;
}

.V3-card-img-kp {
    width: 100%;
}

.V3-card-about-kp {
    margin: 0 20px;
    padding-bottom: 60px;
}

.V3-card-h3-kp{
    text-align: center;
    color: #ffa500;
    font-size: 32px;
    margin-bottom: 10px;
}

.V3-card-p-kp {
    margin-left: 20px;
    font-size: 16px;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .V3-cards-kp {
        margin: 0 20px;
        grid-gap: 20px;
    }

    .V3-card-img-div-kp {
        padding: 20px 25px 5px 25px;
        margin-bottom: 20px;
    }
    
    .V3-card-img-kp {
        width: 100%;
    }
    
    .V3-card-about-kp {
        margin: 0 20px;
        padding-bottom: 60px;
    }

    .V3-card-h3-kp{
        text-align: center;
        color: #ffa500;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .V3-card-p-kp {
        margin-left: 0;
        font-size: 1rem;
    }
}