.V3-benefits-kp {
    position: relative;
}

.V3-benefits-img-div-kp {
    width: 100%;
}

.V3-benefits-img-kp {
    width: 100%;
}

.V3-benefits-text-div-kp{
    position: absolute;
    Top: 35%;
    width: 45%;
    margin: 0 5%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 1fr 2fr;
    align-items: center;
    grid-gap: 2%;
    color: white;
}

.V3-benefits-h2-kp {
    font-size: 30px;
}

.V3-benefits-para1-kp {
    font-size: 18px;
}

.V3-benefits-para2-kp {
    font-size: 18px;
}

.V3-benefits-para3-kp {
    font-size: 18px;
}

.V3-benefits-button-kp{
    outline: none;
    background-color: #FFA500;
    font-size: 1.15rem;
    text-transform: uppercase;
    padding: 0.8rem 0.8rem;
    border-radius: 50px;
    border: none;
    color: white;
    transition: .25s linear;
    justify-self: baseline;
}

.V3-benefits-button-kp:hover {
    box-shadow: 0 0 20px #FFA500;
    border: 1px solid #FFA500;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {

    .V3-benefits-img-kp {
        height: 700px;
    }

    .V3-benefits-text-div-kp {
        bottom: 20%;
    
    }

    .V3-benefits-text-div-kp {
        width: 55%;
        grid-template-rows: 2fr 2fr 1.5fr .8fr 1fr;
    }
    .V3-benefits-h2-kp {
        font-size: 1.7rem;
    }
    
    .V3-benefits-para1-kp {
        font-size: 1rem;
        align-self: baseline
    }
    
    .V3-benefits-para2-kp {
        font-size: 1rem;
        align-self: baseline
    }
    
    .V3-benefits-para3-kp {
        font-size: 1rem;
        align-self: baseline;
        margin-bottom: 2%;
    }
    .V3-benefits-button-kp{
        font-size: 1rem;
    }
}


@media only screen and (max-width: 600px) and (min-width: 400px) {

    .V3-benefits-img-kp {
        height: 650px;
    }

    .V3-benefits-text-div-kp {
        width: 55%;
        top: 33%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .V3-benefits-h2-kp {
        font-size: 1.5rem;
        margin-bottom: 12px;
    }
    
    .V3-benefits-para1-kp {
        font-size: .8rem;
        margin-bottom: 6px;
    }
    
    .V3-benefits-para2-kp {
        font-size: .8rem;
        margin-bottom: 6px;
    }
    
    .V3-benefits-para3-kp {
        font-size: .8rem;
        margin-bottom: 12px
    }
    .V3-benefits-button-kp{
        font-size:.6rem;
    }
}

@media only screen and (max-width: 400px) {

    .V3-benefits-img-kp {
        height: 650px;
    }

    .V3-benefits-text-div-kp {
        width: 55%;
        top: 33%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .V3-benefits-h2-kp {
        font-size: 1.25rem;
        margin-bottom: 12px;
    }
    
    .V3-benefits-para1-kp {
        font-size: .7rem;
        margin-bottom: 6px;
    }
    
    .V3-benefits-para2-kp {
        font-size: .7rem;
        margin-bottom: 6px;
    }
    
    .V3-benefits-para3-kp {
        font-size: .7rem;
        margin-bottom: 12px
    }
    .V3-benefits-button-kp{
        font-size:.4rem;
    }

}